.generateFlagButton { 
  max-width: 40%;
  padding: 0.75rem 1rem;
  height: auto;
  text-align: center;
  background-color: #00b4d8;
  border: none;
  border-radius: 1rem;
  color: #e5e5e5;
  cursor: pointer;
}
